<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.redgeeks.lessons.multifeatures">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalculatorActivity"
            android:label="Калькулятор">
        </activity>
        <activity android:name=".ItemListActivity"
            android:label="Список">
        </activity>
        <activity android:name=".CalculatorV2Activity"
            android:label="Калькулятор V2">
        </activity>
        <activity android:name=".MigrateMainActivity"
            android:label="Передача данных между экранами - Первый экран">
        </activity>
        <activity android:name=".MigrateDetailActivity"
            android:label="Передача данных между экранами - Второй экран">
        </activity>
    </application>
</manifest>